<div class="row">
  <div class="col-sm-12 col-md-9 col-lg-7 mx-auto">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Log a Match</h3>
        <form #matchForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="mapName">Map</label>
            <select class="form-control" id="mapName" required [(ngModel)]="model.map" name="map" #map="ngModel">
              <option *ngFor="let m of mapValues" [ngValue]="m">{{m.name}}</option>
            </select>
            <div [hidden]="map.valid || map.pristine" class="alert alert-danger">Map is Required</div>
          </div>

          <mat-grid-list [cols]="5" rowHeight="3:1">
            <mat-grid-tile *ngFor="let hero of heroesAvailable">
              <div class="form-check">
                <input class="form-check-input" id="{{hero.heroId}}" type="checkbox" value="{{hero}}"
                       (change)="updateHeroes(hero, $event)">
                <label class="form-check-label" for="{{hero.heroId}}">{{hero.name}}</label>
              </div>
            </mat-grid-tile>
          </mat-grid-list>

          <hr>
          <div class="form-group text-center">
            <input name="result" type="radio" value="WIN" [(ngModel)]="model.result" name="result"> Win
            <input name="result" type="radio" value="LOSS" [(ngModel)]="model.result" name="result"> Loss
          </div>

          <div class="form-group">
            <label for="rank">Post-Match SR</label>
            <input type="number" id="rank" class="form-control" [(ngModel)]="model.rank" name="rank" required>
          </div>


          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!matchForm.form.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

