<div class="row">
  <div class="col-sm-12 col-md-9 col-lg-8 mx-auto">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Log a Match</h3>
        <form #matchForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="mapName">Map</label>
            <select #map="ngModel" [(ngModel)]="model.gameMap" class="form-control" id="mapName" name="map" required>
              <option *ngFor="let m of mapValues" [ngValue]="m">{{m.name}}</option>
            </select>
            <div [hidden]="map.valid || map.pristine" class="alert alert-danger">GameMap is Required</div>
          </div>

          <mat-grid-list [cols]="4" rowHeight="4:1">
            <mat-grid-tile *ngFor="let hero of heroesAvailable">
              <div class="form-check">
                <input class="form-check-input" id="{{hero.heroId}}" type="checkbox" value="{{hero}}"
                       (change)="updateHeroes(hero, $event)">
                <label class="form-check-label" for="{{hero.heroId}}">{{hero.name}}</label>
              </div>
            </mat-grid-tile>
          </mat-grid-list>

          <hr>
          <div class="form-group text-center">
            <input type="radio" value="WIN" [(ngModel)]="model.result" name="result" required> Win
            <input type="radio" value="LOSS" [(ngModel)]="model.result" name="result" required> Loss
            <input type="radio" value="DRAW" [(ngModel)]="model.result" name="result" required> Draw
          </div>

          <div class="form-group">
            <label for="rank">Post-Match SR</label>
            <input type="number" id="rank" class="form-control" min="1" max="5000" step="1" (input)="checkValue($event)"
                   [(ngModel)]="model.rank" name="rank" required>
          </div>

          <div class="form-group">
            <label for="comment">Comments</label>
            <textarea [(ngModel)]="model.comments" class="form-control" id="comment" maxlength="1500"></textarea>
          </div>


          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!matchForm.form.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

