<div class="row">
  <div class="col-sm-10 col-md-9 col-lg-8 mx-auto">
    <div class="card">
      <div class="card-body" *ngIf="match">
        <p><a routerLink="/history"><i class="fa fa-long-arrow-left ml-auto" aria-hidden="true">Back</i></a></p>
        <h3 class="card-title">{{match.matchDate | date:'medium'}} - {{match.gameMap.name}}</h3>
        <img *ngIf="match.gameMap.iconUrl" alt="" class="rounded-circle mx-auto d-block"
             height="125px" src="{{match.gameMap.iconUrl}}">
        <p class="card-text">Map Type: {{match.gameMap.type | titlecase}}</p>
        <p class="card-text">Result: {{match.result | titlecase}}</p>
        <p class="card-text">Rank Difference: {{match.rankDifference}}</p>
        <p class="card-text">Rank After Match: {{match.rank}}</p>
        <hr>
        <h5 class="card-text">Heroes Played:</h5>
        <mat-list role="list">
          <mat-list-item *ngFor="let hero of match.heroes" role="listitem">
            <img matListAvatar src="{{hero.heroUrl}}">
            <p matLine>
              <span>{{hero.name}}</span>
            </p>
          </mat-list-item>
        </mat-list>
        <br>
        <h5 class="card-text">Comments:</h5>
        <div class="row">
          <span class="col-md-12">{{match.comments}}</span>
          <span *ngIf="!match.comments" class="col-md-12">No Comments</span>
        </div>
        <div class="row text-center pt-3">
          <div class="col-sm-6">
            <a class="btn btn-info text-center btn-block" routerLink="/edit/{{match.matchId}}">Edit</a>
          </div>
          <div class="col-sm-6">
            <button (click)="deleteMatch()" class="btn btn-danger text-center btn-block">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
